*.pyc
data/polyvore/*.tar.gz
data/polyvore/jsons/*
data/polyvore/images/*
data/polyvore/dataset/*
data/amazon/*.json.gz
data/amazon/*.b
data/amazon/*.pkl
data/amazon/dataset/*
logs/*
data/polyvore/utils_benchmark/dest/*
data/polyvore/utils_benchmark/dest_no_retrieval_back/*
benchmark_results/